.container {
    padding: 30px;
}
.file-input {
    cursor: pointer;
    font-size: 1em;
    padding: 6px 15px;
    border-radius: 8px;
    color: #ffffff;
    background: #3418dd;
} 
.file-input input {
    display: none;
}
.errors-list, .canvas {
    margin: 20px 0px;
    width: fit-content;
}
.error {
    font-weight: bolder;
    margin-top: 10px;
    color: rgb(185, 15, 15);
}

.row {
    display: flex;
}
.cell {
    border: 1px solid #ccc;
}
.input-container {
    display: flex;
    width: fit-content;
}
.dimension-label {
    margin: 0px 5px 0px 20px;
}
.dimension-input {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 40px;
}