.action-button {
    color: #ffffff;
    background: #3907c2;
    outline: none;
}
.file-input, .action-button {
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
    padding: 6px 15px;
    border-radius: 20px;
} 
.file-input input {
    display: none;
}